/* MEDIA */
/* TEXT */
@media(max-width:1200px) {
    body {
        font-size: 16px;
    }
}

@media(max-width:1025px) {
    body {
        font-size: 15px;
    }
}

/* SECTION TITLE */
@media(max-width:1000px) {
    .section-title {
        font-size: 4.5vw;
    }
}

@media(max-width:800px) {
    .section-title {
        font-size: 2.7rem;
    }
}
@media(max-width:346px) {
    .section-title {
        font-size: 2.65rem;
    }
}

/* BUTTONS */
@media(max-width:900px) {
    .btn {
        font-size: 1.7vw;
        padding: 0.8vw 1.7vw;
    }
}
@media(max-width:700px) {
    .btn {
        font-size: 1.8vw;
        padding: 0.9vw 1.8vw;
    }
}
@media(max-width:500px) {
    .btn {
        font-size: 2vw;
        padding: 1.1vw 2vw;
    }
}
@media(max-width:400px) {
    .btn {
        font-size: 2.4vw;
        padding: 1.3vw 2.35vw;
    }
}

/*.......... 
  HEADER 
...........*/
@media(max-width:1050px) {
    .nav__logo {
        font-size: 2rem;
    }
}

@media(max-width:700px) {
    :root {
        font-size: 14px;
    }
}

@media(max-width:605px) {
    :root {
        font-size: 13px;
    }
}

@media(max-width:570px) {
    :root {
        font-size: 12px;
    }
}

@media(max-width:490px) {
    :root {
        font-size: 11px;
    }
}

@media(max-width:450px) {
    :root {
        font-size: 10px;
    }
}

@media(max-width:420px) {
    .nav__icon {
        display: none;
    }
}

@media(max-width:370px) {
    :root {
        font-size: 9px;
    }
}

@media(max-width:340px) {
    :root {
        font-size: 8.25px;
    }
}


/*.............
   MAIN BANNER
..............*/
@media(max-width:1200px) {
    .main-banner__text {
        margin-left: 4.45vw;
    }
}

@media(max-width:1000px) {
    .main-banner__text {
        margin-left: 4.05vw;
    }
}

@media(max-width:800px) {
    .main-banner__text {
        margin-left: 3.7vw;
    }
}

@media(max-width:700px) {
    .main-banner__text {
        margin-left: 3.4vw;
    }
}

@media(max-width:600px) {
    .main-banner__text {
        margin-left: 3.1vw;
    }
}

@media(max-width:500px) {
    .main-banner__text {
        margin-left: 2.25vw;
    }
}

@media(max-width:430px) {
    .main-banner__text {
        margin-left: 2vw;
    }
}

@media(max-width:400px) {
    .main-banner__text {
        margin-left: 1.5vw;
    }
}

@media(max-width:500px) {
    .main-banner__img {
        top: 19%;
    }
}

/*.............. 
    WHO WE ARE
 ..............*/
@media(max-width:991px) {
    .who-we-are {
        text-align: center;
        background: url("..//images/backgrounds/who-we-are-bg-mobile.png") no-repeat right top;
        background-size: auto;
    }

    .who-we-are__title {
        color: #a6a6a6;
    }

    .who-we-are__content {
        padding-left: 0;
    }

    .who-we-are__text {
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .who-we-are__img {
        padding-left: 0;
    }
}

@media(max-width:480px) {
    .who-we-are__text {
        font-size: 1.35rem;
    }
}

/*............... 
   WHAT WE DO 
................*/
@media(max-width:992px) {
    .what-we-do__content h3 {
        font-size: 1.7rem;
    }
}

@media(max-width:800px) {
    .what-we-do__content h3 {
        font-size: 1.6rem;
    }
}

@media(max-width:500px) {
    .what-we-do__content h3 {
        font-size: 1.75rem;
    }
}

@media(max-width:768px) {
    .what-we-do__icon img {
        width: 3rem;
    }
}

@media(max-width:400px) {
    .what-we-do__icon img {
        width: 3.5rem;
    }
}

@media(max-width:560px) {
    .what-we-do::before {
        height: 14vw;
        width: 19vw;
    }
}

/*............. 
 HOW WE WORKS
..............*/
@media(max-width:1220px){
    .how-we-works::before {
        top: 81%;
    }
}
@media(max-width:1093px){
    .how-we-works::before {
        top: 82%;
    }
}
@media(max-width:992px) {
    .how-we-works::before {
        top: 84%;
    }
    .steps-of-work__item img {
        width: 30vw;
    }

    .steps-of-work__order-number {
        font-size: 3.3vw;
    }

    .steps-of-work__subtitle-active {
        font-size: 2.9vw;
    }

    .steps-of-work__subtitle {
        font-size: 2.9vw;
    }

    .steps-of-work__text {
        font-size: 1.5vw;
    }
    .how-we-works::after{
        display: none;
    }
}
@media(max-width:878px){
    .how-we-works::before {
        top: 86%;
    }
}
@media(max-width:630px) {
    .steps-of-work__item img {
        width: 29vw;
    }

    .steps-of-work__order-number {
        font-size: 3.1vw;
    }

    .steps-of-work__subtitle-active {
        font-size: 3.2vw;
    }

    .steps-of-work__subtitle {
        font-size: 3.2vw;
    }
}

@media(max-width:500px) {
    .how-we-works::before {
       top: 95%;
    }
    .steps-of-work__item:first-of-type {
        padding-left: 0;
        align-self: center;
    }
    .steps-of-work__item:nth-of-type(2) {
      align-self: flex-end;
    }
    .steps-of-work__item:last-of-type {
        align-self: flex-start;
      }
   .steps-of-work{
    flex-direction: column;
   }
   .steps-of-work__item img {
    width: 50vw;
}

.steps-of-work__order-number {
    font-size: 4vw;
}

.steps-of-work__subtitle-active {
    font-size: 4vw;
}

.steps-of-work__subtitle {
    font-size: 4vw;
}
.steps-of-work__text {
    font-size: 2.5vw;
}
.how-we-works::after{
    display: block;
    top: 46%;
    height: 52vw;
    width: 95vw;
    right:-34%;
}
}
@media(max-width:420px){
    .how-we-works::after{
        display: block;
        top: 51.5%;
        height: 49vw;
        width: 95vw;
        right:-35%;
    }   
}
/*............ 
    OUR TEAM
.............*/
@media(max-width:1192px){
    .slider {
        height: 70vh;
    }
   
}
@media(max-width:992px){
    .slider {
        height: 67vh;
    }
    .previous {
        border-top: 35px solid transparent;
        border-right: 35px solid #424240;
        border-bottom: 35px solid transparent;
    }
    
    .next {
        border-top: 35px solid transparent;
        border-left: 35px solid #424240;
        border-bottom: 35px solid transparent;
    }
}
@media(max-width:845px){
    .slider__item img {
        width: 37vw;
    }
    .slider {
        height: 65vh;
    }
    .previous {
        top: 33%;
    }
    
    .next {
        top: 33%;
    }
}
@media(max-width:740px){
    .slider__item img {
        width: 39vw;
    }
    .previous {
        top: 33%;
        border-top: 32px solid transparent;
        border-right: 32px solid #424240;
        border-bottom: 32px solid transparent;
    }
    
    .next {
        top: 33%;
        border-top: 32px solid transparent;
        border-left: 32px solid #424240;
        border-bottom: 32px solid transparent;
        
    }
}
@media(max-width:670px){
    .slider__item img {
        width: 40vw;
    }
    .previous {
        border-top: 30px solid transparent;
        border-right: 30px solid #424240;
        border-bottom: 30px solid transparent;
        
    }
    
    .next {
        border-top: 30px solid transparent;
        border-left: 30px solid #424240;
        border-bottom: 30px solid transparent;  
    }
}
@media(max-width:500px){
    .our-team__wrap{
        width: 100%;
    }
    .slider__item img {
        width: 45vw;
    }
    .previous {
        border-top: 25px solid transparent;
        border-right: 25px solid #424240;
        border-bottom: 25px solid transparent;
    }
    
    .next {
        border-top: 25px solid transparent;
        border-left: 25px solid #424240;
        border-bottom: 25px solid transparent;
    }
}
@media(max-width:430px){
    .slider {
        height: 45vh;
    }
    .previous {
        top: 37%;
        border-top: 18px solid transparent;
        border-right: 18px solid #424240;
        border-bottom: 18px solid transparent;
    }
    
    .next {
        top: 37%;
        border-top: 18px solid transparent;
        border-left: 18px solid #424240;
        border-bottom: 18px solid transparent;
    }
}
@media(max-width:360px){
    .slider {
        height: 40vh;
    } 
    .previous {
        top: 31%;
    }
    
    .next {
        top: 31%;
    }
}
/*.............. 
   CLIENTS
..............*/
@media(max-width:1300px){
    .reviews__text {
        font-size: 1.05rem;
    }
    
}
@media(max-width:1100px){
    .reviews__text {
        font-size: 1rem;
    }
    
}
@media(max-width:900px){
    .reviews__text {
        font-size: 0.9rem;
    }
    
}
@media(max-width:700px){
    .reviews__text {
        font-size: 1rem;
    }
    
}
@media(max-width:520px){
    .reviews__text {
        font-size: 0.95rem;
    }
    
}
/*............. 
    FOOTER 
..............*/
@media(max-width:1200px){
    .footer-socials__item i {
        font-size: 1.35rem;
    }
}
@media(max-width:955px){
.footer-info__item p{
font-size: 0.78rem;
}
}
@media(max-width:900px){
    .footer-info__item p{
    font-size: 0.7rem;
    }
    }
@media(max-width:820px){
        .footer-info__item p{
        font-size: 0.67rem;
        }
        footer .col-md-4{
            padding-left: 0;
        }
  }
  @media(max-width:767px){
.footer__icon{
    font-size: 5.5vw;
}
.footer-info{
    padding-left: 0;
}
.footer-info__item{
    justify-content: center;
    padding-right: 0;
}
.footer-info__item:last-of-type{
    padding-left: 12.5vw;
}
    .footer-info__item p{
    font-size: 1.1rem;
    }
    .footer-info__content span{
        font-size: 1.35rem;
    }
    .footer-socials__item i {
        font-size: 1.4rem;
    }
}
@media(max-width:510px){
    .footer__copyright{
        font-size: 1.2rem;
    }
    .footer-socials__item i {
        font-size: 1.45rem;
    }
}
@media(max-width:410px){
    .footer__copyright{
        font-size: 1.14rem;
    }
    .footer-socials__item i {
        font-size: 1.5rem;
    }
}
/* FOR SCREEN > 1700px */
@media(min-width:1700px){
    body {
        font-size: 20px;
    }
    :root {
        font-size: 20px;
    }
}
@media(min-width:1900px){
    body {
        font-size: 25px;
    }
    :root {
        font-size: 25px;
    }
    
}

@media(min-width:2100px){
    body {
        font-size: 27px;
    }
    :root {
        font-size: 27px;
    }
}
