:root {
    font-size: 18px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 17px;
    background-color: #f5f5f5;
    color: #6a6a6a;
}

html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.section-title {
    color: #303030;
    font-size: 4vw;
    font-weight: 800;
    transition: all .2s;
}
.section-title:hover{
color: #bc2e3a;
}
figure {
    margin: 0;
}

.pb-9 {
    padding-bottom: 9vw;
}

/*........... 

    MAIN BANNER

............*/
.main-banner {
    width: 100%;
    background-image: url(../images/backgrounds/bg-main-banner.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.main-banner__wrap {
    padding: 10px;
    width: 90.125%;
    margin: 0 auto;
}

/* HEADER */
header {
    font-family: 'Lato', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav__logo {
    font-weight: 900;
    color: #ffffff;
    font-size: 2.5rem;
    transition: all .2s;
}
.nav__logo:hover{
    color: #171717;
}

.nav__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
}

.nav__item {
    padding-right: 1.1vw;
    font-size: 1rem;
}

.nav__item:last-child {
    padding-right: 0;
}

.nav__search {
    padding-left: 1vw;
}

.nav__btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all .2s;
}
.nav__btn:hover{
    color: #171717;
}


.nav__link {
    color: #ffffff;
    transition: all .2s;
}
.nav__link:hover{
    color: #171717;
}

/* //HEADER */

/* MAIN BANNER */
.main-banner__content {
    width: 100%;
    max-width: 880px;
    padding-top: 9vw;
    text-align: center;
}

.main-banner__text {
    margin-left: 4.75vw;
    width: 47.5vw;
}

.main-banner__img {
    position: absolute;
    right: 0;
    z-index: 2;
}

.main-banner__img img {
    width: 51vw;
}

.btn {
    text-transform: uppercase;
    font-size: 1.25vw;
    border-radius: 40px;
    border: none;
    padding: 0.6vw 1.5vw;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-weight: 900;
    transition: all .4s;
}
.btn:focus{
    -webkit-animation: shadow-pop-tl 0.3s linear both;
    animation: shadow-pop-tl 0.3s linear both;
}
.btn-white:focus{
   color: #bc2e3a;
   background-color: #171717;
}
 @-webkit-keyframes shadow-pop-tl {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tl {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
 
  
  
.btn-white {
    color: #000;
    background: #fff;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.47);
}

.main-banner__btn {
    margin-top: 3vw;
    margin-bottom: 9vw;
}

/*.............. 

   WHO WE ARE

..............*/
.who-we-are {
    background: url("..//images/backgrounds/who-we-are-bg.png") no-repeat center;
    padding-top: 5vw;
    padding-bottom: 2vw;
    background-size: 100% 100%;
}

.wrap {
    width: 80.8125%;
    margin: 0 auto;
}

.who-we-are__title {
    margin-bottom: 3vw;
}

.who-we-are__text {
    line-height: 1.5;
    width: 75%;
    word-break: keep-all;
}

.who-we-are__btn {
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.btn-red {
    color: #ffffff;
    background-color: #bc2e3a;
}

.who-we-are__img img {
    width: 120%;
    max-width: 757px;

}

/*............. 

  WHAT WE DO

..............*/
.what-we-do {
    background-color: #f5f5f5;
    position: relative;
}

.what-we-do::before {
    content: "";
    height: 10vw;
    width: 15vw;
    background-color: #bc2e3a;
    position: absolute;
    left: -7%;
    top: 49%;
    display: block;
    transform: rotate(90deg);
    clip-path: polygon(0 80%, 50% 0, 100% 80%);
    -webkit-clip-path: polygon(0 80%, 50% 0, 100% 80%);

}

.what-we-do__title {
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.what-we-do__item {
    display: flex;
    padding-bottom: 3vw;
}

.what-we-do__icon {
    padding-right: 1vw;
}

.what-we-do__icon img {
    width: 5vw;
}

.what-we-do__content {
    padding-top: 1.4vw;
}

.what-we-do__content h3 {
    color: #6f6f6e;
    font-weight: 800;
    font-size: 1.9vw;
}

.what-we-do__content p {
    line-height: 1.5;
}

/*.............. 
   
  HOW WE WORKS
   
..............*/
.how-we-works {
    padding-left: 12vw;
    background: #ffffff;
    position: relative;
}

.how-we-works::before {
    content: "";
    height: 17vw;
    width: 25vw;
    background-color: #171717;
    position: absolute;
    left: -10%;
    top: 78%;
    display: inline-block;
    transform: rotate(90deg);
    clip-path: polygon(0 80%, 50% 0, 100% 80%);
    -webkit-clip-path: polygon(0 80%, 50% 0, 100% 80%);
}
.how-we-works::after{
    content: "";
    height: 45vw;
    width: 60vw;
    background-color: #bc2e3a;
    position: absolute;
    display: block;
    transform: rotate(-90deg);
    clip-path: polygon(0 80%, 50% 0, 100% 80%);
    -webkit-clip-path: polygon(0 80%, 50% 0, 100% 80%);
    position: absolute;
    top: 0;
    right: -20%;
}
.how-we-works__title {
    padding-top: 5vw;
    padding-bottom: 3vw;
}

.how-we-works__text {
    line-height: 1.5;
    word-break: keep-all;
    z-index: 2;
}

.how-we-works__btn {
    margin-top: 1vw;
}

.steps-of-work {
    display: flex;
    z-index: 2;
}

.steps-of-work__item {
    transition: all .3s;
}

.steps-of-work__item:first-of-type {
    padding-left: 5vw;
}

.steps-of-work__item img {
    max-width: 400px;
    width: 22vw;
}

.steps-of-work__img {
    position: relative;
}

.steps-of-work__order-number {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
    font-weight: 900;
    position: absolute;
    top: 0;
    right: 10%;
}

.steps-of-work__subtitle-active {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 37%;
    left: 20%;
}

.steps-of-work__subtitle {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 70%;
    left: 20%;
}

.steps-of-work__text {
    color: #ffffff;
    position: absolute;
    bottom: 10%;
    line-height: 1.3;
    left: 20%;
    width: 55%;
    font-size: 1.1vw;
}

/* TRIANGLE LEFT */


/*................ 

   OUR TEAM

................*/
.our-team {
    background-color: #f5f5f5;
}

.our-team__title {
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 1vw;
}

.our-team__wrap {
    width: 85.75%;
    margin: 0 auto;

}

/* SLIDER */
.slider {
    height: 70vh;
    position: relative;
    padding-left: 0;
}

.slider__item {
    position: absolute;
}

.slider__item img {
    width: 35vw;
}

.previous {
    position: absolute;
    top: 35%;
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-right: 45px solid #424240;
    border-bottom: 45px solid transparent;
}

.next {
    position: absolute;
    top: 35%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-left: 45px solid #424240;
    border-bottom: 45px solid transparent;
}

/*..................

  WHAT CLIENTS SAY

...................*/
.reviews {
    background-color: #fff;
    padding-bottom: 6vw;
    position: relative;
}

.reviews::before {
    content: "";
    height: 40vw;
    width: 59vw;
    background-color: #bc2e3a;
    position: absolute;
    left: -20%;
    top: 3%;
    display: block;
    z-index: 1;
    transform: rotate(90deg);
    clip-path: polygon(0 80%, 50% 0, 100% 80%);
    -webkit-clip-path: polygon(0 80%, 50% 0, 100% 80%);
}

.reviews::after {
    content: "";
    height: 17vw;
    width: 25vw;
    background-color: #171717;
    position: absolute;
    right: -10%;
    top: -5.5%;
    display: block;
    transform: rotate(47.4deg);
    clip-path: polygon(0 80%, 50% 0, 100% 80%);
    -webkit-clip-path: polygon(0 80%, 50% 0, 100% 80%);
}

.reviews__wrap {
    width: 75%;
    margin: 0 auto;
}

.reviews__title {
    padding: 5vw 2vw 0 9vw;
}

.reviews__item {
    display: none;
}

.reviews__item.active {
    display: flex;
}

.reviews__img {
    max-width: 415px;
    width: 29vw;
    padding-right: 2vw;
}

.reviews__content {
    padding-top: 7vw;
    display: flex;
    align-items: flex-start;
}

.reviews__text {
    margin: 0;
    padding-top: 0.5vw;
    padding-bottom: 1.5vw;
    line-height: 1.5;
    font-size: 1.3vw;
}

.reviews__name {
    font-weight: 800;
}

.quotes {
    max-width: 75px;
    width: 5vw;
    padding-right: 1vw;
}

.reviews__nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 1vw;
}

.reviews-nav__item {
    padding-right: 1vw;
    opacity: 0.7;
    cursor: pointer;
}
.reviews-nav__item:hover{
    opacity: 0.8;
}

.reviews-nav__item img {
    max-width: 70px;
    width: 8vw;
}

.reviews-nav__item.active {
    opacity: 1;
}

.reviews__wrap .col-4 {
    z-index: 2;
}

/*............... 

   GET IN TOUCH

...............*/
footer {
    background: url("../images/backgrounds/bg-get-in-touch.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

footer::after {
    content: "";
    height: 12vw;
    width: 19vw;
    background-color: #bc2e3a;
    position: absolute;
    right: -2%;
    bottom: 0;
    display: inline-block;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.footer__title {
    text-align: center;
    padding: 5vw 0;
    color: #9f9f9f;
}

.footer-info {
    color: #ffffff;
}

.footer-info__item {
    display: flex;
    padding-bottom: 2.5vw;
}

.footer-info__item:last-of-type {
    padding-right: 0;
}

.footer-info__content {
    padding-left: 2vw;
}

.footer-info__content span {
    font-weight: 800;
    font-size: 20px;
}

.footer-info__content p {
    margin: 0;
    color: #ffffffe1;
    line-height: 1.5;
}

.footer-info__content p:first-of-type {
    padding-top: 1vw;
}

.footer__icon {
    font-size: 3.5vw;
}

.footer__socials {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
    border-bottom: 1px solid #eeeeee;
    padding-left: 0;
}

.footer-socials__item {
    padding-bottom: 1.5vw;
}

.footer-socials__item a {
    color: #ffffff;
    padding-right: 2.5vw;
}
.footer__socials li:first-of-type {
    padding-left: 2.5vw;

}
.footer-socials__item i {
    font-size: 1.5vw;
    transition: all .2s;
}
.footer-socials__item i:hover{
    color: #bc2e3a;
}
.footer__copyright {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 2.5vw;
    padding-top: 1vw;
}


